/* SliderComp.css */

.slider-comp-container {
	width: 80%;
	margin: 0 auto;
	background: linear-gradient(to right, rgba(128, 128, 128, 1) 0%, rgb(32, 28, 27) 100%);

}

img {
	width: 60%;
	height: auto;
}
