/* SliderComp.css */

.slider-comp-container {
	width: 80%;
	margin: 0 auto;
	background: linear-gradient(to right, rgba(128, 128, 128, 1) 0%, rgb(32, 28, 27) 100%);

}



.slider-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	width: 100%;
}

img {
	width: 60%;
	height: auto;
}

.car-info {
	margin-left: 20px;
}

/* Slider link stilini özelleştirme */
.custom-slider a {
	font-size: 16px; /* İstediğiniz boyutu ayarlayabilirsiniz */
	color: #007bff; /* İstediğiniz renk */
}
